.grid-container {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: start;
}

.gallery {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 3vw;
  padding-right: 3vw;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 35px;
}
.elements-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(90, 89, 89) 0px 2px 15px 0px;
  aspect-ratio: 1/1;
}
.elements-container:hover {
  transform: scale(1.1);
}

.elements-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

@media only screen and (max-width: 770px) and (min-width: 500px) {
  .gallery > div:nth-child(1),
  div:nth-child(8),
  div:nth-child(11),
  div:nth-child(17),
  div:nth-child(27) {
    grid-row: span 2;
  }

  .gallery > div:nth-child(6),
  div:nth-child(10),
  div:nth-child(21) {
    grid-column: span 2;
    aspect-ratio: 2/1;
  }
}

@media only screen and (max-width: 1020px) and (min-width: 770px) {
  .gallery > div:nth-child(1),
  div:nth-child(5),
  div:nth-child(7),
  div:nth-child(13),
  div:nth-child(19),
  div:nth-child(21),
  div:nth-child(28) {
    grid-row: span 2;
  }

  .gallery > div:nth-child(6),
  div:nth-child(10),
  div:nth-child(16),
  div:nth-child(27) {
    grid-column: span 2;
    aspect-ratio: 2/1;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .gallery > div:nth-child(1),
  div:nth-child(5),
  div:nth-child(7),
  div:nth-child(13),
  div:nth-child(19),
  div:nth-child(21) {
    grid-row: span 2;
  }

  .gallery > div:nth-child(6),
  div:nth-child(12),
  div:nth-child(11),
  div:nth-child(25),
  div:nth-child(27) {
    grid-column: span 2;
    aspect-ratio: 2/1;
  }
}

@media only screen and (min-width: 1441px) {
  .gallery > div:nth-child(2),
  div:nth-child(10),
  div:nth-child(11),
  div:nth-child(18),
  div:nth-child(23),
  div:nth-child(24) {
    grid-row: span 2;
  }

  .gallery > div:nth-child(9),
  div:nth-child(13),
  div:nth-child(21),
  div:nth-child(26),
  div:nth-child(28),
  div:nth-child(30) {
    grid-column: span 2;
    aspect-ratio: 2/1;
  }
}

#error-message {
  display: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
